<div class="topic-new-wrapper" >
  <div class="container-common">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">アイデアを投稿する</h1>
        <%= form_for @topic do |f| %>
          <div class="form-group">
            <%= f.label :image, class:'text-white' %>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>

          <div class="form-group">
            <%= f.label :title, class:'text-white' %>
            <%= f.text_field :title, class:'form-control '%>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

        <% end %>

      <script type="text/javascript">
       $('#topic_picture').bind('change',function(){
         var size_in_megabytes = this.files[0].size/1024/1024;
         if (size_in_megabytes > 5){
           alert('Maximum file size is 5MB. Please choose a smaller file');
         }
       });
       </script>

      </div>
    </div>
  </div>
</div>
